      .msg
            {
                padding:20px;
                text-align:left;
            }
            .msg title
            {
                font-weight:bold;
                padding: 20px;
            }
            .msg description
            {
                padding:50px;
                 font-weight:bold;
                 color:red;
            }
           .load
           {
            display:none;
           }
            .frms
                {
                    margin:0 auto;
                    padding:10px;
                    font-family:Tahoma, Geneva, sans-serif;
                    color:#333;
                    font-size:.9em;
                    line-height:1.2em;
                }
                
                .frms input[type="text"]
                {
                        width:50%;
                    background:#fff;
                    border:#ddd 1px solid;
                    border-radius:.35em;
                    -moz-border-radius:.35em;
                    -webkit-border-radius:.35em;
                    -o-border-radius:.35em;
                    padding:0 .5%;
                    margin-top:5px;
                    margin-bottom:15px;
                    height:35px;
                }
                            .frms input[type="button"]
                {
                    padding:7px 14px;
                    font-weight:bold;
                    color:#fff;
                    cursor:pointer;
                    border-radius:.3em;
                    -moz-border-radius:.2em;
                    -webkit-border-radius:.2em;
                    -o-border-radius:.2em;
                    margin:10px 0;
                    border:none;
                }
                .frms input:hover
                {
                    box-shadow:#dae1e5 0px 0px 5px;
                    -moz-box-shadow:#dae1e5 0px 0px 5px;
                    -webkit-box-shadow:#dae1e5 0px 0px 5px;
                    -o-box-shadow:#dae1e5 0px 0px 5px;
                }
                a {
                    color: #026acb;
                    text-decoration: none;
                    outline: none;
                }
                a:link:hover {
                    text-decoration: underline;
                }
                body {
                    background:#fff;
                    font: .81em/150% Tahoma, Geneva, sans-serif;
                    color: #666;
                    word-wrap:break-word;
                }
                .frms input:focus
                {
                    -webkit-box-shadow: inset 7px 4px 7px -7px rgba(0,0,0,0.42);
                -moz-box-shadow: inset 7px 4px 7px -7px rgba(0,0,0,0.42);
                box-shadow: inset 7px 4px 7px -7px rgba(0,0,0,0.42);
                    
                    border:#9d9983 1px solid;
                }
                input[type="button"]
                {
                    background:#468cd2;
                    border-bottom:#3277bc 3px solid;
                    text-shadow:#214d73 1px 1px 0px;
                }
                .resp_code
                {
                margin:5px 10px 10px 300px;
                padding:10px 20px 10px 20px;
                font:normal 1em/1.3em Tahoma, Geneva, sans-serif;
                color:#333;
                border:#ddd 1px solid;
                border-radius:.25em;
                overflow:auto;width:50%;
                }
                @media screen and (max-width: 480px)
                {
                .resp_code{width:auto !important;margin:0px !important;}
                 .frms input[type="text"]
                        {
                            width:100% !important;
                        }
                }
